<!DOCTYPE html>
<html>
<head>
    <title>Chat gpt for fun</title>

	<link href="/static/css/output.css?version={{.Version}}" rel="stylesheet">
<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>	

<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script src="/static/javascript/app.js?version={{.Version}}" defer>

</script>
</head>
<body>
    <header>
		<ul hx-boost="true">
			{{range $i, $item := .Links}}
				<li><a href="{{$item.Url}}" hx-target="main">{{$item.Label}}</a></li>
			{{end}}
		</ul>
    </header>
    
    <main>
        {{.Content}}
    </main>
    
    <footer>
		Fun page
    </footer>
	<dialog id="errorDialog">
		<div id="errorDialogContent"></div>
	</dialog>
</body>
</html>

